@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app,
#app > div {
  height: 100%;
  background-color: rgb(243, 244, 246);
}


.splash-container {
  background-image: url(./assets/images/splash-background.jpg);
}

.loader-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.cropper {
  width: 50vw;
  height: 50vh;
  background: #ddd;
}